<div>
  <div class="row">
    <div class="col">
      <h4>Actor List Component</h4>
      <!-- <div>
    <p>List of Actors</p>
    <ul>
      <li *ngFor="let actor of actorList">
        Name: {{actor.name}}
        Rating: {{actor.rating}}
      </li>
    </ul>
  </div> -->
      <button (click)="btnClicked($event)">Click Me</button>
      <button (click)="toggleList()">{{btnText}}</button>

      <div *ngIf="listFlag">
        <table class="table table-striped table-hover table-dark">
          <thead>
            <th>Index</th>
            <th>Name</th>
            <th>Ratings</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let actor of actorList; index as n">
              <td>{{n}}</td>
              <td>
                {{actor.name}}
              </td>
              <td>
                {{actor.rating}}
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteActor(n)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <h3>Add Actor</h3>
      <label>
        Actor name: <input type="text" [(ngModel)]="newName">
      </label>
      <br>
      <label>
        Actor rating: <input type="text" [(ngModel)]="newRating">
      </label>
      <br>
      <button class="btn btn-primary" (click)="addActor()">Add</button>
    </div>
    <!-- <div>
    <label>
      Enter some message: <input type="text" [(ngModel)]="message">
    </label>
    <br>
    Your message is: {{message}}
  </div> -->
  </div>
</div>
